// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;
$bg-black: #2d2d2d;

// text color
$text-black: #010103;
$text-orange: #ff4d30;
$text-white: #ffffff;
$btn-black: #161616;
$text-gray: #706f7b;
